:root {
	--uc-urlbar-bg-color: #1b1e23;
	--uc-show-new-tab-button: none;
	--uc-show-tab-separators: none;
	--uc-tab-separators-color: none;
	--uc-tab-separators-width: none;
}
#titlebar {
	-moz-box-ordinal-group: 2 !important;
}	
.titlebar-buttonbox-container {
	display: none !important;
}
#TabsToolbar {
	min-height: 28px !important;
}
.tabbrowser-tab:not([pinned]){
	max-width: 100vw !important;
}
.tabbrowser-tab:not([fadein]),
#page-action-buttons,
.titlebar-spacer,
.tab-line,
#tracking-protection-icon-container {
	display: none !important;
	border: none !important;
}
#identity-box {
	visibility: collapse !important;
}
#urlbar-background, .titlebar-buttonbox-container, #nav-bar, .tabbrowser-tab:not([selected]) .tab-background{
	background: none !important;
    background-color: var(--uc-urlbar-bg-color) !important;
	border: none !important;
}
#urlbar[breakout][breakout-extend] {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: 0 !important;
    width: 100% !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding-block: 0 !important;
    padding-inline: 0 !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
    animation-name: none !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .05) !important;
}
#urlbar-background {
	box-shadow: none !important;
}
#nav-bar, .titlebar-buttonbox-container {
	border-bottom: 0px ;
}
#urlbar-input {
	text-align: center !important;
}
#urlbar-input:focus {
	text-align: left !important;
}
#urlbar-container {
	margin-left: 4vw !important;
}
/* Sidebar */
#browser {
  margin-left:31px;
}
#sidebar-splitter {
  display:none;
}
#sidebar-header {
  display:none;
}
#sidebar-box {
  display:flex;
  position:fixed !important;
  top:32px;
  left:0;
  bottom:0;
  overflow: hidden;
  min-width: 31px;
  max-width: 31px;
  transition: all 0.2s ease;
  border-right: 1px solid #010204;
  z-index: 2;
  background:none;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover,
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar {
  min-width: 260px !important;
  max-width: 260px !important;
  z-index: 1;
}
#main-window[inFullscreen] #sidebar-box,
#main-window[inFullscreen] #sidebar-splitter {
  display: none !important;
  width: 0px !important;
}
#main-window[inFullscreen] #browser {
  margin-left:0 !important;
}
#TabsToolbar { visibility: collapse !important; }

#nav-bar {
  height: 32px !important;
}

#nav-bar .toolbarbutton-1:not([type="menu-button"]), 
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button, 
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  padding: 0 !important; 
}
/* Remove Back button circle, fix size */
#back-button:not(:hover), #back-button:not(:hover) > .toolbarbutton-icon {
    transform: scale(.95,.95) !important; 
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    }
#back-button:hover, #back-button:hover > .toolbarbutton-icon {
    border: none !important;
    border-radius: 50% !important;
    }

window,
#main-window,
#toolbar-menubar,
#TabsToolbar,
#PersonalToolbar,
#navigator-toolbox,
#sidebar-box,
#nav-bar {
    font-family:'berry';
    font-size:12px;
}
