#!/bin/sh
[[ -f ~/.zshenv ]] && source ~/.zshenv

# Changes Touchpad Sensivity and adds tap to click, natural scrolling and move while typing 
xinput set-prop 'TPPS/2 IBM TrackPoint' 340 0.1 &
xinput set-prop 'TPPS/2 IBM TrackPoint' 'libinput Natural Scrolling Enabled' 1 &
xinput set-prop 'Synaptics TM3276-022' 'libinput Natural Scrolling Enabled' 1 &
xinput set-prop 'Synaptics TM3276-022' 'libinput Tapping Enabled' 1 &
xinput set-prop 'Synaptics TM3276-022' 'libinput Tapping Drag Enabled' 1 &
xinput set-prop 'Synaptics TM3276-022' 'libinput Disable While Typing Enabled' 0 &
# Different input methods
ibus-daemon -drx &
# Locks screen when acpi actions are detected
xss-lock -- i3lock -k --datecolor=eeeeee --timecolor=eeeeee --timepos="1370:575" --timesize=50 --time-font=Roboto -n -i ~/Pictures/Wallpapers/lpq6o2autx761.jpg &
# Compositor starts
picom -b --experimental-backends
