#!/bin/sh
[[ -f ~/.zshenv ]] && source ~/.zshenv

# Changes Touchpad Sensivity and adds tap to click, natural scrolling and move while typing
xinput --set-prop 'TPPS/2 IBM TrackPoint' 'libinput Accel Profile Enabled' 0, 1 &
xinput --set-prop 'TPPS/2 IBM TrackPoint' 'libinput Accel Speed' 0.1 &
xinput set-prop 'TPPS/2 IBM TrackPoint' 'libinput Natural Scrolling Enabled' 1 &
xinput set-prop 'Synaptics TM3276-022' 'libinput Natural Scrolling Enabled' 1 &
xinput set-prop 'Synaptics TM3276-022' 'libinput Tapping Enabled' 0 &
xinput set-prop 'Synaptics TM3276-022' 'libinput Tapping Drag Enabled' 0 &
xinput set-prop 'Synaptics TM3276-022' 'libinput Disable While Typing Enabled' 1 &
# Different input methods
ibus-daemon -drx &
# Locks screen when acpi actions are detected
xss-lock -- lock &
# Compositor starts
picom -b &
# Detect Thinkpad Dock
dockd --daemon &
# RedShift
#redshift &
# Battery Notificaiton
battery-notif -n &
# Clipster for roficlip
clipster -d &
#Start Emacs
emacs --daemon &
# Faster Repeating
xset r rate 300 50 &
# Restores wallpaper
walchange &
# wasd with mayus + wd
xcape -e 'Control_L=Escape' &
xmodmap ~/.Xmodmap &
# Enables notification services
dunst &
# PulseEffects
pulseeffects --gapplication-service &
# Enable docking on xsession start
monitorCheck &
