#include "/home/hakuya/.cache/wal/colors.Xresources"
Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 0
Xft.antialias: 1
Xft.rgba: rgb
Sxiv.background: #222222
Sxiv.foreground: #222222


